<a href="https://colab.research.google.com/github/ekramasif/Basic-Machine-Learning/blob/main/Extraa/pd_np.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import libraries

In [ ]:
import pandas as pd
import numpy as np
import numpy as np
from sklearn.model_selection import train_test_split
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
from matplotlib import cm

from theano import *
import theano.tensor as T

#Dataset Reads

## Google Drive Mount

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/Data.csv')
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [ ]:
df.isnull().values.any()

True

In [ ]:
count_NaN = df.isnull().sum()
print('Count of NaN: ')
print (str(count_NaN))

Count of NaN:
Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [ ]:
df = df.fillna(0)
df.head()

In [ ]:
column = len(df.columns)
print(column)

In [ ]:
df.shape

In [ ]:
train_Data = df.copy()
train_Out = train_Data.pop('Purchased')

In [ ]:
print(np.array(train_Out))

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(train_Data, train_Out, test_size=0.2, random_state=5)

In [ ]:
x_test

In [ ]:
x_train

In [ ]:
df.set_index('Country')["Age"].plot.bar(
    xlabel='Country',
    ylabel='Age',
    rot=90,
    figsize=(10,5),
    fontsize=10,
    color="red"
    )

In [ ]:
df.set_index('Country')["Salary"].plot.bar(
    xlabel='Country',
    ylabel='Salary',
    rot=90,
    figsize=(10,5),
    fontsize=10,
    color="blue"
    )

In [ ]:
max(df['Salary'])

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/Datasets/Wine.csv')
df1.head(120)

In [ ]:
column = df1.shape
print(column)

In [ ]:
count_NaN1 = df1.isnull().sum()
print ('Count NaN of Wine: ' + str(count_NaN1))

In [ ]:
X = df1.iloc[:,:-1]
X

In [ ]:
Y = df1.iloc[:,-1]
Y

In [ ]:
# Y = df1.iloc[:,13]
# Y

# Seaborn

In [ ]:


# Apply the default theme
sns.set_theme(style="ticks")



# Create a visualization
# Show the results of a linear regression
sns.lmplot(x="Age", y="Salary", data=df)

# sns.lineplot(x="Age", y="Salary", hue="region", style="event", data=df)

In [ ]:
# Show the results of a linear regression
sns.lmplot(x="Alcohol", y="Total_Phenols", data=df1)

In [ ]:
# plotting strip plot with seaborn

sns.swarmplot(x='Country', y='Age', data=df)

In [ ]:
sns.swarmplot(x='Country', y='Salary', data=df)

In [ ]:
sns.swarmplot(x="Alcohol", y="Malic_Acid", data=df1)

In [ ]:
sns.countplot(x ='Country', data = df)

In [ ]:
sns.boxplot(x='Country', y='Age', data=df, hue='Purchased')

In [ ]:
sns.violinplot(x='Salary', y='Country', data=df, hue='Purchased', split=True)

In [ ]:
sns.stripplot(x='Salary', y='Country', data=df, hue='Purchased',jitter=True, dodge=True)

In [ ]:
# PairGrid object with hue
graph = sns.PairGrid(df, hue ='Purchased')
# type of graph for diagonal
graph = graph.map_diag(plt.hist)
# type of graph for non-diagonal
graph = graph.map_offdiag(plt.scatter)
# to add legends
graph = graph.add_legend()
# to show
plt.show()

In [ ]:
# PairGrid object with hue
graph = sns.PairGrid(df1)
# type of graph for non-diagonal(upper part)
graph = graph.map_upper(sns.scatterplot)
# type of graph for non-diagonal(lower part)
graph = graph.map_lower(sns.kdeplot)
# type of graph for diagonal
graph = graph.map_diag(sns.kdeplot, lw = 2)
# to show
plt.show()

## Theano library

In [ ]:
# Declaring variable
a = tensor.dmatrix('a')
 
# Sigmoid function
sigmoid = 1 / (1 + tensor.exp(-a))
 
# Now it takes matrix as parameters
log = theano.function([a], sigmoid)
 
# Calling function
print(log([[0, 1], [-1, -2]]))